

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
  display: flex;
}
.web-logo{
    width: 135px;
    height: 82px;
}
.navbar{
  justify-content: space-between ;
  align-items: center;
 
}
.dark-1{
  color: #252432;
}
.dark-2{
  color: #8987A1;
}

.dark-3{
  color: #000000;
}
.orainge{
  color: #E95A08;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
}
.nav-item, .cart-icon{
    list-style: none;
    margin-right: 48px;
    font-weight: lighter;
}
.navbar, .banner,.plants-section, .plants-lover-container{
 max-width: 1140px;
  margin: 0 auto;
}
.banner{
  
  margin-top: 120px;
}
.banner-content{
  max-width: 570px;
  max-height: 299px;
  margin-bottom: 0%;
}

.plant-container{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 120px;
    text-align: center;
}

.banner-title,.plant-title{
  font-weight:800;
  font-size: 4rem;
}

.banner-description, .plant-description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}

.banner-img{
  max-width: 570px;
  max-height: 355px;
  margin-bottom: 0%;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 45px;
  gap: 20px;

}
.card-container{
  max-width: 270px;
  text-align: center;
  margin-top: 30px;
}
.card-img{
   width: 100%;
   margin-bottom: 10px;
}
.card-title{
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;

}
.card-price{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}
.card-button{
  padding: 20px;
  background-color: #E95A08;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  gap: 20px;
  width: 100%;

}
.plant-title{
  margin-bottom: 0px;
}
.plant-description{
  margin-top: 0px;
}
.cards{
  margin-top: 0px;
}
.plants-lover-section{
  max-height: 597px;
}
.plants-lover-container{
  display: flex;
  margin-top: 200px;
  gap: 60px;
}
.img-container{
  max-width: 540px;
  max-height: 597px;
  display: inline-block;
}
.description-container{
  width: 540px;
  height: 521px;
  margin-bottom: 38px;
}
.plants-lover-section-img{
   width: 100%;

}
.plants-lover-section-title{
  font-size: 50px;
  font-weight: bold;
}
.plants-description{
  font-size: 22px;
}
.trusted-badge{
 position: absolute;
 height: 270px;
 width: 270px;
 margin-top: -130px;
 margin-bottom: -100px;
 margin-left: 380px;
}
@media screen and (max-width: 576px) {
   .nav-item,.trusted-badge{
    display: none;
    margin-bottom: 0;
   }
   .plants-section{
    padding-left: 5px;
    padding-right: 5px;
   }
   .plant-container{
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
   }
   .description-container{
    width: 360px;
    height: 234px;
   }
   .cards{
    display: grid; 
    grid-template-columns: repeat( 2, 1fr );
    padding: 5px;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
   .banner-img{
    width: 100%;
    margin-top:0 ;
   }
  .banner{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .banner-title{
   margin-top: 0px;
  }
  .plants-lover-container{
    margin-top: 0px;
    flex-direction: column;
    padding: 5px;
  }
  .plants-lover-section-title{
    font-size: 24px;
    font-weight: bold;
  }
}