

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
  display: flex;
}
.web-logo{
    width: 135px;
    height: 82px;
}
.navbar{
  justify-content: space-between ;
  align-items: center;
 
}
.dark-1{
  color: #252432;
}
.dark-2{
  color: #8987A1;
}

.dark-3{
  color: #000000;
}
.orainge{
  color: #E95A08;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
}
.nav-item, .cart-icon{
    list-style: none;
    margin-right: 48px;
    font-weight: lighter;
}
.navbar, .banner,.plants-section, 
.latest-deals-section,
.plants-lover-container,
.latest-deals-content{
  max-width: 1140px;
  margin: 0 auto;
}
.banner{
  
  margin-top: 120px;
}
.banner-content{
  max-width: 570px;
  max-height: 299px;
  margin-bottom: 0%;
}

.plant-container{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 120px;
    text-align: center;
}

.banner-title,.plant-title{
  font-weight:800;
  font-size: 4rem;
}

.banner-description, .plant-description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}

.banner-img{
  max-width: 570px;
  max-height: 355px;
  margin-bottom: 0%;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 45px;
  gap: 20px;

}
.card-container{
  max-width: 270px;
  text-align: center;
  margin-top: 30px;
}
.card-img{
   width: 100%;
   margin-bottom: 10px;
}
.card-title{
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;

}
.card-price{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}
.card-button{
  padding: 20px;
  background-color: #E95A08;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  gap: 20px;
  width: 100%;

}
.plant-title{
  margin-bottom: 0px;
}
.plant-description{
  margin-top: 0px;
}
.cards{
  margin-top: 0px;
}
.plants-lover-section{
  max-height: 597px;
}
.plants-lover-container{
  display: flex;
  margin-top: 200px;
  gap: 60px;
}
.img-container{
  max-width: 540px;
  max-height: 597px;
  display: inline-block;
}
.description-container{
  width: 540px;
  height: 521px;
  margin-bottom: 38px;
}
.plants-lover-section-img{
   width: 100%;

}
.plants-lover-section-title{
  font-size: 50px;
  font-weight: bold;
}
.plants-description{
  font-size: 22px;
}
.trusted-badge{
 position: absolute;
 height: 270px;
 width: 270px;
 margin-top: -130px;
 margin-bottom: -100px;
 margin-left: 380px;
}
.latest-deals-section{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.latest-deals-title{
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.latest-deals-content{
  display: flex ;
  gap: 28px;
  padding-top: 20px;
}
.left-img-container{
  width: 367px;
   height: 424px;

}
.img-1{
    background-image: url("../assets/deal-bloom.png");
    background-repeat:no-repeat;
    border-radius: 14px;
    text-align: center;
   width: 100%;
   height: 47%;
}
.img-2{
    background-image: url("../assets/deal-ana.png");
    background-repeat:no-repeat;
    border-radius: 14px;
    width: 100%;
    height: 47%;
    margin-top: 28px;
}
.right-img-container{
  width: 753px;
  height: 424px;
}
.img-3{
   background-image: url("../assets/deal-zabo.png");
  background-repeat:no-repeat;
   border-radius: 14px;
  

   width: 100%;
   height: 100%;
}
.img-text-container{
  padding-top: 50px;
}
.img-text-container-3{
  padding-top: 18%;
}
.img-title-3{
  font-size: 2.5rem;
  font-weight: bold;
  color:  #FFFFFF;
  margin-bottom: 0; 
}
.img-shop-3{
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 500;

}
.img-shop{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}
.img-title{
  color: #FFFFFF;
  font-weight: 1.25rem;
  font-weight: 600;
}
.join-section{
  background-image: url("../assets/news-letter-bg.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 300px;
  /* justify-items: center; */
  text-align: center;
  padding-top: 150px;

}
.join-title{
  font-size: 3.2rem;
  font-weight: bold;
  color: #FFFFFF;
}
.email-bar{
  width: 100%;
  max-width: 40.25rem;
  
  padding: 10px;
   margin: 0 auto;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  
}
.btn-primary{
  width: 186px;
  background-color: #E95A08;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.footer-sector{
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-link-items{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.footer-link-items > li >a{
    text-decoration: none;
  list-style: none;
  color: rgba(107, 114, 128, 1);
}
.footer-description{
  width: 359px;
}
.img-f{
  padding-left: 30px;
  
} 
.footer-icons{
  padding-left: 0px;
}



@media screen and (max-width: 576px) {
   .nav-item,.trusted-badge{
    display: none;
    margin-bottom: 0;
   }
   .plants-section{
    padding-left: 5px;
    padding-right: 5px;
   }
   .plant-container{
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
   }
   .description-container{
    width: 360px;
    height: 234px;
   }
   .cards{
    display: grid; 
    grid-template-columns: repeat( 2, 1fr );
    padding: 5px;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
   .banner-img{
    width: 100%;
    margin-top:0 ;
   }
  .banner{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .banner-title{
   margin-top: 0px;
  }
  .plants-lover-container{
    margin-top: 0px;
    flex-direction: column;
    padding: 5px;
  }
  .plants-lover-section-title{
    font-size: 24px;
    font-weight: bold;
  }
  .plants-lover-section{
    margin-bottom: 30px;
  }
  .latest-deals-section{
    margin-top: 600px;
    padding: 5px;
  }
  .latest-deals-content{
    display: grid;
    grid-template-columns: 1fr;
  }
 
  .img-1,.img-2,.left-img-container.latest-deals-content{
    width: 100%;
    margin-right: 0;
    padding-right:0px;
  
  }
  .img-3{
    width: 100%;
  }
  .right-img-container{
  width:100%
}
.join-title{
  font-size: 1.5rem;
}
.btn-primary{
  width: 100px;
}
.email-bar{
  width: 218px;
}
.footer-link-items{
   grid-template-columns: 1fr;
}
.footer-sector{
  flex-direction: column;
}
.footer-icons{
   padding-top: 10px;
}
}
